<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      Face Make Over
    </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="LipColor" checked>
      <ion-label>LipColor</ion-label>
    </ion-segment-button>
    <ion-segment-button value="EyeShadow">
      <ion-label>EyeShadow</ion-label>
    </ion-segment-button>
    <ion-segment-button value="EyeLiner">
      <ion-label>EyeLiner</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Blush">
      <ion-label>Blush</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <div id="YMK-module"></div>

  <ion-grid *ngIf="selected == 'LipColor'">
    <!-- <h3>Lip Color</h3> -->
    <ion-row>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-001')" style="background: #8510d8;"></button>
      </ion-col>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-002')" style="background: #1F618D;"></button>
      </ion-col>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-003')" style="background: #c5145d;"></button>
      </ion-col>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-004')" style="background: #145A32;"></button>
      </ion-col>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-005')" style="background: #ff5f9e;"></button>
      </ion-col>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-006')" style="background: #c10000;"></button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="selected == 'EyeShadow'">
    <!-- <h3>Eye Shadow</h3> -->
    <ion-row>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-007')" style="background: #27AE60;"></button>
      </ion-col>

      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-008')" style="background: #7D3C98;"></button>
      </ion-col>

      <ion-col>
      <button onclick="YMK.applyMakeupBySku('sku-009')" style="background: #D35400;"></button>
      </ion-col>

      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-010')" style="background: #F1C40F;"></button>
      </ion-col>

      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-011')" style="background: #5499C7;"></button>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="selected == 'EyeLiner'">
   <!--  <h3>Eye Liner</h3> -->
    <ion-row>
      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-012')" style="background: #000000;"></button>
      </ion-col>

      <ion-col>
        <button onclick="YMK.applyMakeupBySku('sku-013')" style="background: #28B463"></button>
      </ion-col>

      <ion-col>
          <button onclick="YMK.applyMakeupBySku('sku-014')" style="background: #2C3E50"></button>
      </ion-col>

      <ion-col>
          <button onclick="YMK.applyMakeupBySku('sku-015')" style="background: #8E44AD"></button>
      </ion-col>

      <ion-col>
          <button onclick="YMK.applyMakeupBySku('sku-016')" style="background: #3498DB"></button>
        </ion-col>
    
      </ion-row> 
    </ion-grid>


    <ion-grid *ngIf="selected == 'Blush'">
      <!-- <h3>Eye Liner</h3> -->
      <ion-row>
        <ion-col>
          <button onclick="YMK.applyMakeupBySku('sku-017')" style="background: #eea329;"></button>
        </ion-col>
  
        <ion-col>
          <button onclick="YMK.applyMakeupBySku('sku-018')" style="background: #ee8fda"></button>
        </ion-col>
  
        <ion-col>
            <button onclick="YMK.applyMakeupBySku('sku-019')" style="background: #9c0004"></button>
        </ion-col>
  
        <ion-col>
            <button onclick="YMK.applyMakeupBySku('sku-020')" style="background: #eba050"></button>
        </ion-col>
  
        <ion-col>
            <button onclick="YMK.applyMakeupBySku('sku-021')" style="background: #ff0000"></button>
          </ion-col>
      
        </ion-row> 
      </ion-grid>
</ion-content>